<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fraud Detection System</title>
    <link rel="stylesheet" href="/static/presentation.css">
</head>

<body>

    <div class="logo-arrows-container">
        <div class="logo-container">
            <img src="/static/pics/logo.png" alt="Logo" class="logo" href="l">
        </div>
        <div class="arrows-container">
            <img src="/static/pics/arrows.png" alt="Arrows" class="arrows">
        </div>
    </div>

</body>

</html>